  <div class="header-section">
    <div class="container w-container">
      <h1>Some name</h1>
      <p class="subtitle">Blah Blah Blah BlahBlahBlah
      <div class="sign-up-form w-form">
        <form class="w-clearfix" data-name="Signup Form" name="wf-form-signup-form">
          <input class="field w-input"  maxlength="256" name="searchTerm" placeholder="Search Term ..." [(ngModel)]="searchTermTemp"  >
          <input class="button w-button" data-wait="Please wait..." type="submit" value="Find" (click)="applyFilter()" *ngIf="searchTerm == null" >
          <input class="button w-button" data-wait="Please wait..." type="submit" value="Clear" (click)="clearFilter()" *ngIf="searchTerm != null">
        </form>
      </div>
    </div>
  </div>

  <div class="container-body">
    <app-product-list [childProperty]="searchTerm"></app-product-list>
  </div>

  <div class="footer-section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 w-col-small-6">
          <div class="copyright">© 2014 Blurr. All right reserved.&nbsp;</div>
        </div>
        <div class="align-right w-col w-col-6 w-col-small-6">
          <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
      </div>
    </div>
  </div>
