
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Comparing {{data.length}} items</h4>
</div>
<div class="modal-body">
  <table class="table table-bordered table-hover">
    <thead>
      <th width="10%">Item(s)</th>
      <th width="auto"*ngFor="let item of data">{{item.name}}<br/>£{{item.price}}</th>
    </thead>
    <tbody>
        <tr>
          <td>Bio Markers</td>
          <td *ngFor="let item of data">
            <div *ngFor="let bio of biomarkers(item)">
              <span  class="biomarkers badge badge-info">
                {{bio.name}}
              </span>
            </div>
          </td>
        </tr>
        <tr>
          <td>Collection Method</td>
          <td *ngFor="let item of data">
            <div *ngFor="let collection of collectionMethod(item)">
              <span  class="biomarkers badge badge-info">
                {{collection.name}}
              </span>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
</div>
